# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
.turbo/
*.tsbuildinfo

# tests
coverage/
playwright-report/
test-results/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# prisma
apps/api/prisma/dev.db

# misc
*.pem
.eslintcache
